<% if @words.length > 0 %>
  <ul class="list-unstyled">
    <% @words.each() do |word| %>
      <li><a href = '/words/<%= word.id() %>'> <%= word.word() %></a></li>
    <% end %>
  </ul>
<% else %>
  <p id="no-words-saved-text">
    You haven't added any words yet!
  </p>
<%end%>

<h3><a href="/words/new" class="green">Add Word</a></h3>
