<h3>Add a definition for <%= @word.word() %>!</h3>

<form action="/definitions" method="post">
  <div class="form-group">
    <input id='word_id' name='word_id' type='hidden' value='<%= @word.id() %>'>
    <input required class="form-control" require id='definition' name='definition' type='text'>
  </div>
  <button class="btn btn-success btn-lg" type="submit">Add</button>
</form>
