<form action="/words" method="post">
  <div class="form-group">
    <label for="word">Add a word:</label>
    <input required class="form-control" id="word" name="word" type="text">
  </div>
  <button class="btn btn-info btn-lg" type="submit">Add</button>
</form>
