<h2 id="word-header"><%= @word.word() %></h2>

<% @word.definitions().each do |definition| %>
  <ul>
    <li><%= definition.definition %></li>
  </ul>
<% end %>

<h3><a href="/words/<%= @word.id() %>/definitions/new">Add Definition</a></h3>
<hr>
<h3><a href="/">Home</a></h3>
